
.h1-red {
    color: red;
}

.h2-contents {
    font-weight: lighter;
    color: black;
    background-color: gray;
    border: 1px solid red;
}

.h2-contents__text {
    color: black;
}

.list_black {
    color: black; 
}

.list_blue {
    color: blue; 
}
.list_black-bold {
    color: black; 
    font-weight: bold;
}
.list_purple-bord {
    color: purple;
    font-weight: bold; 
}
.list_black {
    color: black; 
}


