
.h1-red {
    color: red;
}

.h2-contents {
    background-color: gray;
    border: 2px solid red;
}

.h2-contents__title {
    color: black;
    font-weight: lighter;
}

.h2-contents__text {
    color: black;
}


.list__item--black {
    color: black; 
}

.list__item--blue {
    color: blue; 
}
.list__item--black-bold {
    color: black; 
    font-weight: bold;
}
.list__item--purple-bold {
    color: purple;
    font-weight: bold; 
}
.list__item--black {
    color: black; 
}


